/* Colors | Base ============================================================ */
	$white: #fff;
	$black: #000;
/* Colors | Theme =========================================================== */
	$doveGray   : #6f6f6f;
	$gray       : #878787;
	$silver     : #bebebe;
	$alto       : #d6d6d6;
	$alabaster  : #f9f9f9;
	$orient     : #005382;
	$swamp      : #001521;
	$gallery    : #eaeaea;

$primaryTextColor: $doveGray;
