/* Widths =================================================================== */
  $mw: rem-calc(940);
  $minWidth: rem-calc(320);
  $indent: rem-calc(20);
/* Grid ===================================================================== */
  $row: '.row';
  $col: '.col';
/* Not handheld device ====================================================== */
  $noTouch: '.no-touch';
/* Animations speed ========================================================= */
  $slowSpeed: .3s;
  $normalSpeed: .2s;
  $fastSpeed: .1s;
/* Fonts ==================================================================== */
  $primaryFontFamily: "Arial", "Verdana", "Helvetica", "sans-serif";
/* =========================================================================== */
